.App {
  display: flex;
}

.Gallery-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.Image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  margin: 20px;
}

.Image-portrait {
  transform: rotate(-90deg);
}

.Image-photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  cursor: pointer;
}

.Tags-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.Tags-tag {
  font-size: 13px;
  text-align: center;
  background: transparent;
  border: none;
  font-family: verdana;
  color: lightgray;
  cursor: pointer;
  line-height: 20px;
  outline: none;
}

.Tags-active {
  color: black;
}

.Tags-title {
  font-size: 13px;
  text-align: center;
  background: transparent;
  border: none;
  font-family: verdana;
  color: black;
  line-height: 20px;
  cursor: default;
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.Modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-landscape {
  height: auto;
  width: 70%;
}

.Modal-portrait {
  height: 63%;
  width: auto;
  transform: rotate(-90deg);
}
